/netPerf-build-desktop-Qt_4_8_1_in_PATH__System__Release/moc_qcustomplot.cpp
/netPerf-build-desktop-Qt_4_8_1_in_PATH__System__Release/netPerfGUI
/netPerf/output.txt
/netPerf/netPerf
/netPerfGUI/netPerf.pro.user
/netPerf-build-desktop-Qt_4_8_1_in_PATH__System__Release/Makefile
/netPerf-build-desktop-Qt_4_8_1_in_PATH__System__Release/moc_mainwindow.cpp
/netPerf-build-desktop-Qt_4_8_1_in_PATH__System__Release/nerPerfGUI
/netPerf-build-desktop-Qt_4_8_1_in_PATH__System__Release/qrc_res.cpp
/netPerf-build-desktop-Qt_4_8_1_in_PATH__System__Release/ui_mainwindow.h
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
